DATABASE_URL="postgresql://postgres:password@db.supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"
JWT_SECRET="change_this_super_secret_jwt_key"
JWT_EXPIRES_IN="7d"
LOW_STOCK_THRESHOLD="5"
FRONTEND_URL="http://localhost:5173"
PORT="3000"
